.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1.0;
  transition: 0.5s ease-in all; }

.fade-leave {
  opacity: 1.0; }

.fade-leave-active {
  opacity: 0;
  transition: .01s ease-in all; }

@media (min-width: 576px) {
  .card-columns {
    column-count: 2; } }

@media (min-width: 992px) {
  .card-columns {
    column-count: 3; } }

@media (min-width: 1200px) {
  .card-columns {
    column-count: 4; } }

.commentBox {
  padding: 1em; }

article.archive h1 {
  font-size: 2rem; }

article.single {
  margin: 1em auto; }

article img {
  max-width: 100%;
  height: auto; }

.copy {
  text-align: center;
  font-size: 0.75rem; }
