$font-heading: 'mr-eaves-modern', Futura, 'Trebuchet MS', Arial, sans-serif;
$font-body: 'mrs-eaves', Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
$primary: #c62004;
$contrast: #06617B;